<% include ../partials/header %>

<div class='container mt-5'>
	<h1 class='text-center mb-3'>Edit <%= bookstore.name %></h1>

	<!-- Form to add a bookstore -->
	<div class='w-50 mx-auto'> <!--50% width, center horizontally-->
		<form action='/bookstores/<%= bookstore._id %>/?_method=PUT' method='POST'> 
		  <div class='form-group'>
		    <label for='name'>Bookstore Name</label>
		    <input type='text' class='form-control' name='bookstore[name]' id='name' value='<%= bookstore.name %>'>
		  </div>
		  <div class='form-group'>
		    <label for='image'>Photo of Bookstore</label>
		    <input type='text' class='form-control' name='bookstore[image]' id='image' value='<%= bookstore.image %>'>
		  </div>
		  <div class='form-group'>
		    <label for='description'>Description</label>
 		    <textarea class='form-control' name='bookstore[description]' id='description' rows='3'><%= bookstore.description %></textarea>
		  </div>
		  <button type='submit' class='btn btn-info'>Submit</button>
		  <a class='btn btn-outline-info' href='/bookstores/<%= bookstore._id %>'>Go Back</a>
		</form>
	</div>	
</div>

<% include ../partials/footer %>